.connections{
    display: flex;
    color: var(--color4);
    
}
/* .connections-left{
    padding: var(--section-padding);
} */
.connections-center{
    padding: var(--section-padding);
}
.connections-center-inner{
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
    /* grid-gap: 4rem; */
    overflow-y: scroll;
    /* padding-left: 3rem; */
    position: relative;
    height: 11rem;
    width: 100%;
}
.connetions-box{
    width: 6rem;
    margin: 0 0.2rem;
    /* background: green; */
}
.connections-img{
    border-radius: 10%;
    width: 6rem;
    height: 6rem;
    /* margin:0.3rem; */
    object-fit: cover;
}
.connections-name{
    position: absolute;
    color:var(--color4);
    top: 6.5rem;
    width: auto;
    opacity: 0.8;
    z-index: 2;
    width: 6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.connect-btn{
    /* position: absolute; */
    bottom: 0.5rem;
    cursor: pointer;
    padding: var(--btn-padding);
    background: var( --button-background);
    font-size: var(--connections-fontsize);
    width: 100%;
    margin-top: 0.5rem;
    /* margin-left: 0.8rem; */
    border: 1px solid var(--background-color-2);
    border-radius: 0 0 0.3rem 0.3rem;
}
.connect-btn2{
    /* position: absolute; */
    bottom: 0.5rem;
    cursor: pointer;
    padding: var(--btn-padding-4);
    background: var( --button-background);
    font-size: 0.7rem;
    width: auto;
    margin-top: 0.5rem;
    /* margin-left: 0.8rem; */
    border: 1px solid var(--background-color-2);
}
.connect-btn3{
    bottom: 0.5rem;
    cursor: pointer;
    padding: var(--btn-padding-4);
    background: var( --button-background);
    font-size: 0.7rem;
    width: 100%;
    margin-top: 0.5rem;
    /* margin-left: 0.8rem; */
    border: 1px solid var(--background-color-2);
}
.button-nav{
    position: relative;
    /* top: 8rem; */
    /* bottom: 0; */
    height: 3rem;
}
.more-btn{
    /* height: 2rem; */
    width: auto;
    border : none;
    /* font-weight: var(  --btn-font-weight); */
    font-size: var(--btn-font-size-2);
    border-radius: var(--btn-border-radius);
    background:  var(--background-color);
    transition: all 0.4s;
    cursor: pointer;
}
.more-btn:hover{
    background: var(--background-color-2);
}
.connect-response{
    display: flex;
}
