.otherUsers{
    display: flex;
    overflow-y: auto;
}

.otherUsers-inner{
    min-width: 6rem;
    height: 10rem;
    margin : 0.3rem;
    background: var(--background-color-3);
    display: block;
    text-align: center;
    position: relative;
    font-size: 0.9rem;
    color: var(--color2);
    border-radius: 0.3rem;
}

.follow-btn{
    width: 100%;
    cursor: pointer;
    padding: var(--btn-padding);
    background: var( --button-background);
    font-size: var(--button-font-size-2);
    position: absolute;
    right: 0rem;
    bottom:0rem;
    border: 1px solid var(--background-color-2);
    border-radius: 0 0 0.3rem 0.3rem;
}

.follow-img{
    width:5rem;
    height: calc(100% - 1rem);
    object-fit: cover;
    border-radius: 0.3rem;
}
.folow-name{
    position: absolute;
    color:var(--color3);
    bottom: 1.2rem;
    width: 100%;
    height: 3rem;
    opacity: 0.8;
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
    background : var(--background-color-4);
    z-index: 2;
}

.users-box{
    width: 100%;
    max-height: 12rem;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex; 
    grid-template-columns: repeat(auto-fit, minmax(9rem, auto));
}

.more-btn{
    padding: 0;
    border : none;
    font-weight: var(--btn-font-weight);
    font-size: var(--connections-fontsize);
    border-radius: var(--btn-border-radius);
    transition: all 0.4s;
    cursor: pointer;
    float: right;
    z-index: 2;
}
.more-btn:hover{
    color: var(--background-color-2)
}